use crate::data::Data;
use ahash::{HashMap, HashSet};
use memchr::memmem;
use polars::prelude::*;
use std::time::Instant;

pub fn {{ query_name }}(db: &Data) -> Result<{{ result_output }}, PolarsError> {
    {{ initialize_relation_block }}

    {{ main_block }}

    println!("{{ query_name }},{:}", start.elapsed().as_secs_f32());
    Ok(res)
}

#[cfg(test)]
mod test_{{ query_name }} {
    use super::*;
    use crate::data::ImdbData;

    #[test]
    fn test_{{ query_name }}() -> Result<(), PolarsError> {
        let db = ImdbData::new();
        let data = Data::new(&db);
        let res = {{ queryName }}(&data)?;
        assert_eq!(
            res,
            Some(
                {{ expected_result_set }}
            )
        );
        Ok(())
    }
}
