let ci_s: HashSet<i32> = ci
    .movie_id
    .iter()
    .zip(ci.person_role_id.iter())
    .filter_map(|(movie_id, person_role_id)| {
        person_role_id
            .filter(|id| {{ join_conditions }})
            .map(|_| *movie_id)
    })
    .collect();