{% if min_loop %}
    {% if single_output %}
    let res = mk
        .keyword_id
        .iter()
        .zip(mk.movie_id.iter())
        .filter_map(|(keyword_id, movie_id)| {
                ({{ join_conditions }})
        .then(||{{ output_probe }}).flatten()
        })
        .min()
        .copied();
    {% endif %}
{% elif mk_m %}
{% else %}
    let mk_s : HashSet<i32>=
        {{ zip_columns }}
        .filter_map(|{{ filter_map_closure|replace("'","")}}| {
            ({{ join_conditions }}).then_some(*movie_id)
        })
        .collect::<>();
{% endif %}