{% if t_m %}
let t_m: HashMap<i32, &str> =
    {{  zip_columns }}
    .filter_map(|{{ filter_map_closure|replace("'","")}}| {
        {{ filter_map_main }}
    })
    .collect();
{% elif min_loop %}
    {% if single_output %}
        let res: Option<&str> =
            {{ zip_columns }}
            .filter_map(|{{ filter_map_closure|replace("'","")}}| {
                {{ filter_map_main }}
            })
            .min();
    {% endif %}
{% endif %}